<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="LineCode" Value="01" />
    <Attribute Name="ExportIP1" Value="192.168.1.38" />
    <Attribute Name="ExportPort1" Value="4000" />
    <Attribute Name="ExportIP2" Value="192.168.1.39" />
    <Attribute Name="ExportPort2" Value="5000" />
    <Attribute Name="SupplyIP" Value="192.168.1.21" />
    <Attribute Name="SupplyPort" Value="7000" />
    <Attribute Name="SortLedIP" Value="192.168.1.44" />
    <Attribute Name="SortLedPort" Value="6000" />
    <Attribute Name="PackDataPath" Value="D:/PackData/" />
    <Attribute Name="IsActiveLeds" Value="1,192.168.1.29;2,192.168.1.30;3,192.168.1.31;4,192.168.1.32;5,192.168.1.33;6,192.168.1.34" />
  </Attributes>
  <Services>
    <Service Name="SortPLC" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="SortPLC.xml" />
    <!--<Service Name="PackPLC" Type="THOK.MCP.Service.Package.dll, THOK.MCP.Service.Package.S7200Service" ConfigFile="PackPLC.xml" />-->
  </Services>
  <Processes>
    <Process Name="OrderRequestProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.OrderRequestProcess" Suspend="true">
      <Item ServiceName="SortPLC" ItemName="OrderRequestA" />
      <Item ServiceName="SortPLC" ItemName="OrderRequestB" />
    </Process>
    <Process Name="SortingOrderProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.SortingOrderProcess">
      <Item ServiceName="SortPLC" ItemName="SortingOrderA" />
      <Item ServiceName="SortPLC" ItemName="SortingOrderB" />
    </Process>
    <Process Name="CurrentOrderProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.CurrentOrderProcess">
      <Item ServiceName="SortPLC" ItemName="CurrentOrderA" />
      <Item ServiceName="SortPLC" ItemName="CurrentOrderB" />
    </Process>
    <!--<Process Name="PackRequestProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.PackRequestProcess" Suspend="true">
      <Item ServiceName="PackPLC" ItemName="PackageRequest" />
    </Process>-->
    <Process Name="MissOrderProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.MissOrderProcess">
      <Item ServiceName="SortPLC" ItemName="MissOrderA" />
      <Item ServiceName="SortPLC" ItemName="MissOrderB" />
    </Process>
    <Process Name="ViewProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.ViewProcess" />
    <Process Name="SortingStatus" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.View.Control.SortingStatus"/>
    <Process Name="CreatePackAndPrintDataProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.CreatePackAndPrintDataProcess" />
    <Process Name="LEDProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.LEDProcess">
      <Item ServiceName="SortPLC" ItemName="EmptyErrA" />
      <Item ServiceName="SortPLC" ItemName="EmptyErrB" />
    </Process>
    <Process Name="SortStatusProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.SortStatusProcess">
      <Item ServiceName="SortPLC" ItemName="SortStatus" />
    </Process>
    <Process Name="SortRunStatusProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.SortRunStatusProcess">
      <Item ServiceName="SortPLC" ItemName="SortRunStatus" />
    </Process>
    <Process Name="CacheOrderProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.CacheOrderProcess">
      <Item ServiceName="SortPLC" ItemName="CacheOrderSortNoesA" />
      <Item ServiceName="SortPLC" ItemName="CacheOrderSortNoesB" />
      <Item ServiceName="SortPLC" ItemName="CacheOrderSortNoesBarCode1" />
      <Item ServiceName="SortPLC" ItemName="CacheOrderSortNoesBarCode2" />
      <Item ServiceName="SortPLC" ItemName="CacheOrderSortNoesPacker1" />
      <Item ServiceName="SortPLC" ItemName="CacheOrderSortNoesPacker2" />
    </Process>
	<Process Name="ExportPackNoProcess" Type="THOK.AS.Sorting.dll, THOK.AS.Sorting.Process.ExportPackNoProcess">
	  <Item ServiceName="SortPLC" ItemName="ExportPackNoRead" />
	</Process>
  </Processes>
</Configuration>